.counter{
  box-shadow: 2px 2px 2px 3px grey;
  border-radius: 20px;
  padding: 20px;
  width: 400px;
  height: 250px;
  margin: auto;
  margin-top: 200px;
  text-align: center;
}
.counter-bottom h2{
  margin-top: 20px;
}